

<form action="/login" method="POST">
  <div class="form-group">
  <input type="text" id="userID" name="userID" placeholder="userID"><br>
   <input type="password" id="pwd" name="pwd" placeholder="Password"><br>
    <button type="submit" class="btn-Login">Log In</button>
  </div>
</form> 




